VITE_SUPABASE_URL=https://cwnfqkowifmartnbmjnb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN3bmZxa293aWZtYXJ0bmJtam5iIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU2NTk2MzIsImV4cCI6MjEwMTIzNTYzMn0.FeRns55UhVABimWTNj6aNQDAeJZU8eBrJubbYYCBcHM
